.chatbox{
  width: 450px;
  height: 100vh;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.chatbox > div{
  background-color:  #F4F4F4;
}

.header{
  border-bottom: 1px solid #CCC;
  display:flex;
  justify-content: center;
  padding: 20px;
  color: #4E78F6;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamburger{
  justify-self:end;
}

.body{
  flex-grow:4;
  display:flex;
  flex-direction: column;
  overflow:scroll;
}

.profile-picture{
  padding-top: 50px;
  align-self:center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-picture-title{
  display:flex;
  justify-content: center;
  font-size:30px;
}

.profile-picture-subtitle{
  padding-top:10px;
  color:  #AAA;
}


.response-area{
  display: flex;
  justify-content:center;
  padding-bottom:20px;
}

.response{
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  margin: 10px;
  padding: 20px 40px;
  border-radius: 7px;
  background-color:#4E78F6;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bubble{
  border-radius:10px;
  font-size: 15px;
  padding: 5px;
  margin: 5px 25px;
}
.henry{
  background-color:#DDD;
  color: #000;
}


.user{
  background-color: #4E78F6;
  color: #FFF;
}